*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: auto;
}

header{
    height: 70px;
    padding: 0 2%;
    border-bottom: 2px solid #8AC7E4;
}

header .container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.search form{
    width: 260px;
    height: 44px;
    background-color: white;
    padding: 0 0 0 0;
    border: 2px solid #D9D9D9;
    display: flex;
}

.search form input[type=text]{
    width: calc(100% - 35px);
    padding: 0 10px;
    outline: none;
    color: #D9D9D9;
    border: 0;
}

.search form button{
    width: 35px;
    height: 100%;
    border:0;
    background-image: url('../images/search.png'); 
    background-size:65% 60%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

nav{
    width:28px;
    height: 28px;
    background-image: url('../images/menu.png');
    background-size: 100% 100%;
    cursor: pointer;
}

nav ul{
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 70px;
    height: 100%;
    background-color:rgba(0,0,0, .4);
    text-align: center;
    width: 250px;
    display: none;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 0;
}

nav a:hover{
    color: black;
    background-color: white;
}

/* Sessão1 */

section.sessao1{
    height:auto;
    padding: 90px 0 50px 0;
    position: relative;
}

.square{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    background-color: #8AC7E4;
    z-index: 1;
}


section.sessao1 .container{
    text-align: center;
    height: 100%;
    z-index: 2;
    position: relative;
    padding: 0 2%;
}

section.sessao1 .container > p{
    max-width: 700px;
    margin-top: 25px;
    line-height: 28px;
    font-size: 16px;
    display: inline-block;
    font-style: italic;
    font-family: 'Open Sans';
    color: #777;
}

section.sessao1 .container > h2{
    color: #418AAD;
    font-size: 48px;
    text-align: center;
}

.images-sessao1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.img1{
    flex-grow: 1;
    flex-basis: 0;
    height: 400px;
    position: relative;
    padding:0 10px;
}

.img1-wraper{
    width: 100%;
    height: 100%;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
}

section.sessao1 a{
    width: 175px;
    height: 45px;
    line-height: 45px;
    background-color: #336d88;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
}

section.sessao1 a:hover{
    background-color: hsl(199, 48%, 28%);
}

/* Footer */

.footer1{
    padding: 40px 0;
    background-color: #3ABED5;
}

.midia-social{
    display: flex;
    justify-content: center;
 }

 .midia-social h3{
    margin: 0 8px;
    color: white;
    font-size: 25px;
    cursor: pointer;
 }

 .footer2{
    text-align: center;
    padding: 40px 0;
    background-color: #333333;
 }

 .footer2 p{
    color: white;
 }

 .footer2 p > a{
    color: #B9DEEF;
 }

 .footer2 p > a:hover{
    color: hsl(200, 36%, 70%);
 }

 /* Page 2 */


 /* Sessão 1 */ 
 
 .sessao1-page2{
    width: 100%;
    height: 670px;
    background-color: #418AAD;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
 }

 .sessao1-page2 .container{
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    margin: initial;
    width: 100%;
    max-width: 1280px;
 }

 .content{
    flex: 1 1 40%;
 }

 .content h2{
    font-size: 96px;
    color: white;
    font-family: 'Oswald', sans-serif;
 }

 .content a{
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 21px;
    font-weight: bold;
    width: 216px;
    text-align: center;
    text-decoration: none;
    color: #418AAD;
    background-color: white;
    margin-top: 25px;
 }

 .img1-sessao1-page2{
    flex: 1 1 60%;
    height: 667px;
 }

.img1-wraper-page2{
    width: 100%;
    height: 100%;
    background-image: url('../images/img4.jpg');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:1200px){

    section.sessao1 .container{
        max-width: 900px;
    }

    .img1{
        height: 325px;
    }

    .sessao1-page2{
       height:552px;
    }

    .sessao1-page2 .container{
        max-width:1060px;
    }

    .content{
        padding: 30px 0 30px 30px;
    }

    .content h2{
        font-size: 72px;
    }

    .img1-sessao1-page2{
        height: 100%;
    }
    
}

@media screen and (max-width:992px){

    section.sessao1 .container{
        max-width: 700px;
    }

    .img1{
        height: 242px;
    }

    .sessao1-page2 .container{
        max-width:840px;
    }

    .content h2{
        font-size:60px;
    }

}

@media screen and (max-width:768px){

    .square{
        height: 75%;
    }

    section.sessao1 .container{
        max-width: 550px;
    }

    .img1{
        flex-grow: auto;
        flex-basis: 100%;
        height: 582px;
        margin-top: 30px;
    }

    .sessao1-page2{
        height:auto;
    }

    .sessao1-page2 .container{
        flex-wrap: wrap;
        max-width: 640px;
    }

    .content{
        flex: 1 1 100%;
    }

    .img1-sessao1-page2{
        flex: 1 1 100%;
        height: 557px;
    }
}

@media screen and (max-width:580px){

    .square{
        height: 60%;
    }

    section.sessao1 .container{
        max-width: 420px;
    }

    .img1{
        height: 355px;
    }

    .sessao1-page2 .container{
        max-width: 450px;
    }

    .content h2{
        font-size: 80px;
    }

    .img1-sessao1-page2{
        height: 291px;
    }
}





